body {
    margin:0;
    font-family: "Georgia""Time new roman";
    font-size: 150%;
    color: white;
    background-image: url("blackgrounds.jpg")
 }

 h1 {
    text-align: center;
    font-size: 10;
 }

 h2 {
    text-align: center;
    font-size: 10;
 }

 img {
    border-radius: 60%;
 }
 p {
    text-align: center;
 }
